<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Epic Button</title>
    </head>
    <body>
        <main>
            <form class="epic">
                <h1>
                    Epic button game
                </h1>
                <div id="container">
                    <h2>
                        Push the button to update the count!
                    </h2>
                    
                </div>
                <div class="message">
                    
                </div>
                <div>
                    <button id="epic">
                        EPIC BUTTON
                    </button>
                    <button id="reset">
                        Reset Count
                    </button>
                </div>
            </form>
        </main>
    </body>
</html>